#clickerGame{
    width: 75%;
    height: auto;  
    display: flex;
    margin-top: 60px;
    margin-left: 30px;
}
#clickerGame:hover{
    width: 74%;
    height: auto;  
    display: flex;
}
.antal{
    width: 40px;
    height: auto;
}
.antaltxt{
    position:absolute;
    top: 250px;
    margin-left: 30px;
}


#ptag{
    width: 500px;
    height: 500px;
}
.clickAni{
    animation: clickAni 0.2s ease-in;
    animation-iteration-count: 1;
}
#border{
    background-color: lightblue;
    width: 200px;
    height: 750px;
    margin-left: 500px;
    position:absolute;

}
#headtxt{
    position:absolute;
    margin-top: 40px;
    margin-left: 45px;
}   
#bottom{
    background-color: lightblue;
    width: 1519px;
    height: 80px;
    margin-top: 700px;
    position: absolute;
}
#top{
    background-color: lightblue;
    height: 100px;
    width: 1519px;
    position: absolute;
}
#toptxt{
    color: white;
    font-size: 90px;
    position: absolute;
    margin-top: -10px;
    margin-left: 850px;
}
#leftborder{
    background-color: lightblue;
    position: absolute;
    width: 10px;
    height: 750px;
}
#rightborder{
    background-color: lightblue;
    position: absolute;
    width: 10px;
    height: 750px;
    margin-left: 1509px;
    
}

@keyframes clickAni{
    0%, 20%, 50%, 80%, 100% {transform: scale(1);}
    40% {transform: scale(0.95);}
    60% {transform: scale(0.975);}
}