#upp1{
    margin-left: 10px;
    color: black;
    background-color: yellow;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

#upp1:hover{
    background-color: greenyellow;
}
#uppcost{
    color: black;
    font-size: large;
    margin-bottom: 5px;
    margin-top: 1px;
}
#upp2{
    margin-left: 10px;
    color: black;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
    width: 100%;
}

#upp2:hover{
    background-color: greenyellow;
}
#upp3{
    margin-left: 10px;
    color: black;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
    width: 100%;
}

#upp3:hover{
    background-color: greenyellow;
}
#upp4{
    margin-left: 10px;
    color: black;
    background-color: yellow;
    position: relative;
    border-radius: 10px;
    width: 100%;
}

#upp4:hover{
    background-color: greenyellow;
}
#upp5{
    margin-left: 10px;
    color: black;
    background-color: yellow;
    position: relative;
    width: 100%;
    border-radius: 10px;
}

#upp5:hover{
    background-color: greenyellow;
}
#upp5bild{
    position: relative;
    width: 120px;
    height: auto;
    top: -18%;
    margin-left: 10%;
}
#uppbildtxt{
    margin-top: 1px;
    margin-bottom: 4px;
}
#upp1txt{
    margin-top: 2px;
    margin-bottom: 1px;
}
#uppholder{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}